body {
  position: relative;
  background-color: black;
  font-family: Roboto, Arial;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.user-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}

.back-button-container {
  position: absolute;
  right: 40px;
  top: 50px;
}
.back-button {
  font-weight: 500;
  font-size: 15px;
  padding: 10px;
  border: solid;
  border-width: 1px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
  transform: opacity 0.15s;
}
.back-button:hover {
  background-color: white;
  color: black;
}
.back-button:active {
  opacity: .7;
}


.accounts-container-box {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.box {
  border-width: 1px;
  color: rgb(221, 221, 221);
  border-style: solid;
  width: 700px;
  height: 600px;
  border-radius: 3px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
